@font-face {
  font-family: 'BGBold';
  src: url('./BookkGothic_Bold.ttf') format('truetype'); /* TTF */
  /* OTF 파일일 경우 format('opentype') */
}
@font-face {
  font-family: 'BGLight';
  src: url('./BookkGothic_Light.ttf') format('truetype'); /* TTF */
  /* OTF 파일일 경우 format('opentype') */
}
@font-face {
  font-family: 'BMBold';
  src: url('./BookkMyungjo_Bold.ttf') format('truetype'); /* TTF */
  /* OTF 파일일 경우 format('opentype') */
}
@font-face {
  font-family: 'BMLight';
  src: url('./BookkMyungjo_Light.ttf') format('truetype'); /* TTF */
  /* OTF 파일일 경우 format('opentype') */
}
@font-face {
  font-family: 'MaruBuriBold';
  src: url('./maruburi/TTF/MaruBuri-Bold.ttf');
}
@font-face {
  font-family: 'MaruBuriExtraLight';
  src: url('./maruburi/TTF/MaruBuri-ExtraLight.ttf');
}
@font-face {
  font-family: 'MaruBuriLight';
  src: url('./maruburi/TTF/MaruBuri-Light.ttf');
}
@font-face {
  font-family: 'MaruBuri';
  src: url('./maruburi/TTF/MaruBuri-Regular.ttf');
}
@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url('./maruburi/TTF/MaruBuri-SemiBold.ttf');
}
